<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="src/css/login/style.css">
</head>

<body>

  <div class="main" style="display: flex; width: 635px;">
    <div id="form-s">
      <h1>Inventory Management</h1><br><br>
      <h2>Validate Email</h2>
      <form method="post" id="form" action="/user" onsubmit="return submitbtn();">
        <label for="email"></label>
        <input type="email" name="email" id="email">
        <%if(locals.error){%>
          <div class="main_err" style="color: red;">
            <%=error%>
          </div>
          <%}%>
            <button type="submit" id="button">Generate Link</button>

      </form>
      <div id="main2" class="main-2">
        <%if(locals.otp){%>
          <h2>Kindly go through this link</h2>
          <a href="http://localhost:8000/activelink/<%=otp%>/<%=id%>">http://localhost:8000/activelink/<%=otp%>/<%=id%>
          </a>
          <%}%>
      </div>
      <%if(locals.invalid){%>
        <button>Generate new link</button>
        <script>

          document.getElementById('main2').style.display = 'none'
        </script>
        <%}%>
    </div>
    <div class="">
      <img src="/icons/logo2.gif" alt="" style="width:290px;
      margin-top: 98px;">
    </div>
  </div>
  <script src="js/login/user.js"></script>
  <script src="js/commonFunction/commonFunction.js"></script>
</body>


</html>